body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    
}

.header{
    font-size: 200%;
}

.container{
    height: 70vh;
    width: 60vh;
    background-color: rgb(218, 218, 221);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgb(180, 180, 180);
    position: relative;
    border-radius: 20px;   
}

.grid{
    display: grid;
    border-radius: 20px;
}

.image{
    height: 70vh;
    width: 60vh;
    object-fit: cover;
    background-color: rgb(218, 218, 221);
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgb(180, 180, 180);
    position: relative;
}

#cityName{
    position: absolute;
    top: 10vh;
    left: 15vh;
    height: auto;
    width: 20vh;
    border: 1px solid steelblue;
}

button{
    position: absolute;
    top: 10vh;
    left: 36vh;
    background-color: skyblue;
    color: white;
    border: 1px solid steelblue;
}

.degCal{
    position: absolute;
    bottom: 0vh;
    left: 40vh;
    height: 20vh;
    width: 20vh;
    z-index: 4;
    border-radius: 0 0 20px 0;
    background-color: black;
}

.date{
    position: absolute;
    bottom: 0vh;
    left: 0vh;
    height: 20vh;
    width: 40vh;
    z-index: 4;
    border-radius: 0 0 0 20px;
    background-color: steelblue;
}

.we{
    grid-template-columns: 3fr 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;
    border: skyblue 1px solid;
    opacity: 1;
    object-fit: cover;
    cursor: pointer;
}


